! Base colors
*.foreground:  #ffffcc
*.background:  #1c2023
*.cursorColor: #778899

*.color0:  #1c2023
*.color1:  #bf616a
*.color2:  #a3be8c
*.color3:  #ebcb8b
*.color4:  #8fa1b3
*.color5:  #b48ead
*.color6:  #96b5b4
*.color7:  #E1E1E1
*.color8:  #919ba0
*.color9:  #bf616a
*.color10: #a3be8c
*.color11: #ebcb8b
*.color12: #8fa1b3
*.color13: #b48ead
*.color14: #96b5b4
*.color15: #c0c5ce

! Rofi config is in /.config/rofi
!rofi.width: 10
!rofi.lines: 5
!rofi.columns: 1
!rofi.font: Menlo 12
!rofi.bw: 0
!rofi.location: center
!rofi.padding: 200
!rofi.sort: true
!rofi.eh: 1
!rofi.line-padding: 2
!rofi.color-enabled: true
!rofi.hide-scrollbar: true
!rofi.separator-style: solid
!rofi.separator-style: none
!rofi.fullscreen: true
!rofi.color-window: #1c2023, #919ba0, #1c2023
!rofi.color-normal: #1c2023, #919ba0, #1c2023, #a4a4a4, #1c2023
!rofi.color-urgent: argb:00000000, #f43753, argb:00000000, argb:00000000, #e29a49
!rofi.color-active: argb:00000000, #49bbfb, argb:00000000, argb:00000000, #e29a49
!                   'background'    'border'       'separator'
!rofi.color-window: argb:cc2f343f, argb:cc2f343f, argb:cc2f343f
!                   'bg'            'fg'      'bgalt'        'hlbg'       'hlfg'
!rofi.color-normal: argb:002f343f, #d8dee8, argb:002f343f, argb:002f343f, #bf616a
!rofi.color-active: #2f343f, #b48ead, #2f343f, #2f343f, #93e5cc
!rofi.color-urgent: #2f343f, #ebcb8b, #2f343f, #2f343f, #ebcb8b


! xterm
xterm*termName: xterm-256color
xterm*faceName: Menlo
xterm*faceSize: 10
xterm*renderFont: true
xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false
! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: Medium
xterm*faceSize3: 12
! VT font menu: Large
xterm*faceSize4: 16
! VT font menu: Huge
xterm*faceSize5: 22
xterm*VT100.translations: #override \
	Ctrl <Key> minus: smaller-vt-font() \n\
	Ctrl <Key> plus: larger-vt-font() \n\
	Ctrl <Key> 0: set-vt-font(d) \n\
	Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)

! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: [95]#1C2023
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*letterSpace: -1
URxvt.font: xft:monospace:size=11
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.m-c: perl:clipboard:copy
URxvt.keysym.m-v: perl:clipboard:paste
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x34
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false

! UXTerm
UXTerm*termName: xterm-256color
UXTerm*cursorColor: white
UXTerm*VT100.geometry: 90x34
UXTerm*font: monospace
UXTerm*faceSize: 11
UXTerm*dynamicColors: true
UXTerm*utf8: 2
UXTerm*eightBitInput: true
UXTerm*saveLines: 10000
UXTerm*scrollKey: true
UXTerm*scrollTtyOutput: false
UXTerm*scrollBar: false
UXTerm*rightScrollBar: false
UXTerm*jumpScroll: true
UXTerm*multiScroll: true
UXTerm*toolBar: false

